<div *ngIf="error; else showCargos" class="errorMessage">
    {{errorMessage}}
</div>

<ng-template #showCargos>
    <h2 style="margin-top: 15px;">Список грузов</h2>
    <a *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_MODERATOR') !== -1" class="btn btn-primary" href="cargo/add" style="margin-top: 10px;">Добавить</a>

    <div class="info" style="margin-top:10px">
        <input id="info__body_1" class="info__switch" type="checkbox">
        <label for="info__body_1" class="info__headline">Поиск грузов</label>
        <div class="info__body">
            <form name="form" (ngSubmit)="f.form.valid && searchCargos()" #f="ngForm">
                <div class="d-flex">   
                    <div class="d-inline-block">
                        <label>Параметр:</label>
                    </div>
                    <div class="d-inline-block" style="width: 300px; margin-left: 10px;">
                        <select (change)="onChangedField($event)" class="form-select" name="field" [(ngModel)]="form.field" #field="ngModel" required> 
                            <option value = "name">Название</option>
                            <option value = "category">Категория</option>
                            <option value = "cost">Цена</option>
                            <option value = "count">Количество</option>
                            <option value = "startWarehouse">Стартовый склад</option>
                            <option value = "actualWarehouse">Текущий склад</option>
                            <option value = "endWarehouse">Конечный склад</option>
                        </select>
                    </div>
                    <div class="d-inline-block" style="margin-left:30px;">
                        <label>Данные:</label>
                    </div>
                    <div class="d-inline-block" style="width:300px; margin-left:10px;">
                        <input type="text" name="searchValue" class="form-control" name="searchValue" [(ngModel)]="form.searchValue" #searchValue="ngModel" required>
                    </div>
                    <div class="d-inline-block" style="margin-left:30px;">
                        <button class="btn btn-primary" style="width: 200px;">Найти</button>
                    </div>
                    <div class="d-inline-block" style="margin-left:30px;">
                        <a href="cargo/all" class="btn btn-primary" style="width: 200px;">Сбросить</a>
                    </div>
                </div>
                <div class="" *ngIf="f.submitted && (field.invalid || searchValue.invalid)">
                    <span *ngIf="field?.errors?.['required']" class="text-danger" style="margin-left:85px;">Необходимо выбрать параметр поиска</span>
                    <span *ngIf="field.invalid && searchValue?.errors?.['required']" class="text-danger" style="margin-left:115px;">Необходимо ввести данные для поиска</span>
                    <span *ngIf="field.valid && searchValue?.errors?.['required']" class="text-danger" style="margin-left:490px;">Необходимо ввести данные для поиска</span>
                </div>
                <div id="conditional" style="display: none;">
                    <div class="d-inline-block">
                        <label>Условие:</label>
                    </div>
                    <div class="d-inline-block" style="width: 300px; margin-left: 22px;">
                        <select class="form-select" name="conditional" [(ngModel)]="form.conditional" #conditional="ngModel"> 
                            <option value = "less-than">&lt;</option>
                            <option value = "greater-than">&gt;</option>
                            <option value = "not-equals">!=</option>
                            <option value = "equals">=</option>
                            <option value = "less-than-or-equals">&le;</option>
                            <option value = "greater-than-or-equals">&ge;</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table" *ngIf="cargos.length !== 0; else zeroCargos">
        <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стартовый склад</th>
                <th>Текущий склад</th>
                <th>Конечный склад<th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cargo of cargos">
                <td>{{cargo?.name}}</td>
                <td>{{cargo?.category}}</td>
                <td>{{cargo?.cost}}</td>
                <td>{{cargo?.count}}</td>
                <td>{{cargo?.startWarehouse?.id}}</td>
                <td>{{cargo?.actualWarehouse?.id}}</td>
                <td>{{cargo?.endWarehouse?.id}}</td>
                <td>
                    <a *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_MODERATOR') !== -1"  href="cargo/update/{{cargo?.id}}"><img src="assets/images/change.ico" alt="Изменение" class="smallIcon"></a>
                    <a *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_MODERATOR') !== -1"  href="cargo/delete/{{cargo?.id}}"><img src="assets/images/delete.ico" alt="Удаление" class="smallIcon"></a>
                    <!-- <a href="cargo/excel/{{cargo?.id}}"><img src="assets/images/download.ico" alt="Отчёт" class="smallIcon"></a> -->
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #zeroCargos>
        <div class="errorMessage">Не было найдено ни одного груза</div>
    </ng-template>
</ng-template>


