<p class="startMessage">Добро пожаловать! Выберите данные,над которыми вы хотите поработать!</p>

<div class="cols" *ngIf="info.token; else signin">
	<div class="cols-item">
		<a href="responsible/all" class="heading" style="margin-left:42px;">Ответственные лица</a>
    	<img class="colImg" src="assets/images/responsible.png" alt="Ответственные" style="width: 100%;">
	</div>
	<div class="cols-item">
		<a href="warehouse/all" class="heading"style="margin-left:6px;">Склады</a>
    	<img class="colImg" src="assets/images/check.png" alt="Склады">
	</div>
	<div class="cols-item">
		<a href="cargo/all" class="heading" style="margin-left:10px;">Грузы</a>
    	<img class="colImg" src="assets/images/cargo.png" alt="Грузы">
	</div>
</div>

  <ng-template #signin>
	<div class="cols">
		<div class="cols-item">
			<a href="auth/signin" class="heading" style="margin-left:42px;">Ответственные лица</a>
			<img class="colImg" src="assets/images/responsible.png" alt="Ответственные" style="width: 100%;">
		</div>
		<div class="cols-item">
			<a href="auth/signin" class="heading"style="margin-left:6px;">Склады</a>
			<img class="colImg" src="assets/images/check.png" alt="Склады">
		</div>
		<div class="cols-item">
			<a href="auth/signin" class="heading" style="margin-left:10px;">Грузы</a>
			<img class="colImg" src="assets/images/cargo.png" alt="Грузы">
		</div>
	</div>
  </ng-template>
